(
  references: {
    "Keep a Changelog": "https://keepachangelog.com/en/1.0.0/",
  },
  introduction: Some("All notable changes to this project are documented in this file.\n\nThe format is based on `Keep a Changelog`_."),
  sections: [
    (
      references: {},
      version: (
        major: 3,
        minor: 7,
        patch: 0,
      ),
      released: "2024-01-09T15:27:30.333232421Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Fragment::insert, Fragment::reference",
            "Just:  export generated SVG logo as PNG",
            "aeruginous.png",
            "further test cases for Fragment",
            "impl FromRst for Fragment",
            "ronlog:  accept RST fragments for input",
            "ronlog:  accept arbitrary release date",
          ],
          "Changed": [
            "CI:  enable PNG export of SVG logo",
          ],
          "Fixed": [
            "comment-changes:  simplify logic",
            "simplify date generation with chrono::Local::now",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 6,
        patch: 4,
      ),
      released: "2024-01-06T20:08:32.353040735Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            ".github/aeruginous.asy",
            "CI:  recreate logo on demand",
            "Just:  recipe for logo generation",
            "README:  apply new logo",
            "apply new logo in documentation",
            "complain:  ask for inline mercy for rule ÆC-0003",
          ],
          "Changed": [
            "complain:  rename linting rules to ÆC-xxxx in accordance to new logo",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 6,
        patch: 3,
      ),
      released: "2024-01-02T21:18:22.499789244Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Cargo.toml:  declare new feature ``uncrlf`` as part of ``utilities``",
            "Just:  CI step for feature ``uncrlf``",
            "Uncrlf",
            "uncrlf:  unit tests",
          ],
          "Changed": [
            "uncrlf:  outsource logic to dedicated struct",
          ],
          "Fixed": [
            "uncrlf:  removing all `\\r` occurrences",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 6,
        patch: 2,
      ),
      released: "2024-01-02T17:50:21.417205892Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            ".vscode/tasks.json",
            "Cargo.toml:  declare new feature ``cff``",
            "Cargo.toml:  declare new feature ``rs2md``",
            "Cargo.toml:  declare new feature ``utilities``",
            "Just:  recipes for local CI execution",
            "Mkcws",
            "README:  deprecation note on cff-release-today",
            "Rs2md",
            "increment-version:  CFF mode now also updates the release date",
            "mkcws:  unit tests",
            "src/utilities.rs",
            "tests/assets/gpl-3.0-inner.rs",
            "tests/assets/gpl-3.0-outer.rs",
            "tests/utilities.rs",
          ],
          "Changed": [
            "CI:  execute Just recipe as SPOT",
            "CI:  simplify RONLOG assembly workflow",
            "Cargo.toml:  set default features to ``cff`` and ``utilities``",
            "mkcws:  outsource logic to dedicated struct",
            "rs2md:  outsource logic to dedicated struct",
          ],
          "Deprecated": [
            "cff-release-today",
          ],
          "Fixed": [
            "increment-version:  treat all files with ``*.cff`` extension as CITATION.cff files",
          ],
          "Removed": [
            "CI:  redundant Cargo-related CI jobs",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 6,
        patch: 1,
      ),
      released: "2023-12-28T19:41:38.116808857Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "MSRV:  1.75.0",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 6,
        patch: 0,
      ),
      released: "2023-12-27T20:02:53.875907234Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CI:  add ``mkcws`` feature",
            "Cargo.toml:  declare new feature ``mkcws``",
            "Cargo.toml:  keyword ``linter``; fixes #961",
            "Cargo.toml:  keyword ``toolbox``; fixes #960",
            "README:  document mkcws; fixes #967",
            "mkcws",
          ],
          "Fixed": [
            "cff-create:  unit tests",
          ],
          "Removed": [
            "Cargo.toml:  keyword ``rs2md``; fixes #963",
            "Cargo.toml:  keyword ``uncrlf``; fixes #962",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 5,
        patch: 0,
      ),
      released: "2023-12-23T17:56:44.055729321Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            ".justfile",
            "CFF:  project keywords ``cffcreate``, ``cff-create``, and ``mkcff``",
            "CI:  add feature-related Cargo checks to top-level CI job",
            "Cargo.toml:  declare new feature ``cff-create``",
            "CffCreate",
            "CffCreateManifestType",
            "README:  document cff-create",
            "cff-create",
            "cff-create:  allow for authors without email addresses",
            "cff-create:  appropriate handling of multiple licenses",
            "cff-create:  support Cargo.toml",
            "cff-create:  suppress release date generation on demand",
            "getter and setters for Complain",
            "lint source code of entire repository as unit test",
            "src/cff/cff_create.rs",
            "src/cff/mod.rs",
            "test cases for Fragment",
            "tests/cff_create.rs; fixes #938",
          ],
          "Changed": [
            "CFF:  set ``title`` to ``Aeruginous``; fixes #937",
            "CI:  run Cargo checks with respect to all feature configurations",
            "CI:  split Cargo tests into separate categories",
            "move cffreference.rs to src/cff",
            "rename .github/CFF/aeruginous.cff to .github/aeruginous.cff",
          ],
          "Fixed": [
            "complain:  traverse directories recursively",
            "coverage of src/changelog/fragment.rs",
            "coverage of src/graphing/graph.rs",
            "improve coverage of src/complain.rs",
            "increment-version:  possible edge case crash when rewriting Cargo.toml",
            "ronlog:  new section being unsorted",
            "simplify src/changelog/fragment.rs",
            "sort Renovate configuration entries by alphabet",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 4,
        patch: 1,
      ),
      released: "2023-12-18T23:09:48.882264411Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "MSRV:  1.74.1",
          ],
          "Fixed": [
            "do not crash if CHANGELOG would be empty except when explicitly requested",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 4,
        patch: 0,
      ),
      released: "2023-11-14T22:53:18.771108704Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "FromXml",
            "ToXml",
            "comment-changes:  allow for XML fragments",
            "dependency:  Rust crate ``quick-xml``",
            "documentation:  software license of ``quick-xml`` crate",
            "ronlog:  accept XML fragments for input",
            "src/traits/file_formats.rs",
            "test case for ``FromXml`` and ``ToXml``",
          ],
          "Removed": [
            "src/traits/markdown.rs",
            "src/traits/restructured_text.rs",
            "src/traits/rusty_object_notation.rs",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 3,
        patch: 0,
      ),
      released: "2023-11-14T15:52:11.068390331Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            ".gitattributes",
            "curl-cffref/action.yml",
            "documentation:  software license of ``cargo-install`` GHA",
            "documentation:  software license of ``setup-git-user`` GHA",
          ],
          "Changed": [
            "CI:  CFF update workflow now applies curl-cffref Action",
            "CI:  simplify RONLOG assembly workflow",
          ],
          "Removed": [
            ".github/CFF/chrono.yml",
            ".github/CFF/citation-file-format.yml",
            ".github/CFF/clap.yml",
            ".github/CFF/sysexits.yml",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 2,
        patch: 1,
      ),
      released: "2023-10-24T15:10:09.787311213Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "src/complain.rs:  beautify code by application of ``is_some_and`` method",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 2,
        patch: 0,
      ),
      released: "2023-10-17T14:46:04.914806868Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "comment-changes:  stop at a given Git tag",
          ],
          "Changed": [
            "CI:  determine coverage with ``cargo-llvm-cov`` instead of ``cargo-tarpaulin``",
          ],
          "Removed": [
            ".tarpaulin.toml",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 1,
        patch: 4,
      ),
      released: "2023-10-09T21:31:59.762271167Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "dependency:  Rust crate ``indexmap``",
            "documentation:  software licenses of ``indexmap`` crate",
          ],
          "Changed": [
            "comment-changes:  migrate to ``IndexMap``",
            "ronlog:  migrate to ``IndexMap``",
          ],
          "Fixed": [
            "ronlog:  random re-ordering of existing sections",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 1,
        patch: 3,
      ),
      released: "2023-10-09T16:35:45.586327454Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Fixed": [
            "CI:  pointless mirroring workflow in forks",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 1,
        patch: 2,
      ),
      released: "2023-10-06T17:42:58.937148503Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "CI:  apply actionlint 1.6.26",
            "CI:  simplify CFF update workflow",
            "Renovate:  sort regex packages by package name",
          ],
          "Fixed": [
            "CI:  simplify RONLOG assembly",
            "Renovate:  automated maintenance of actionlint Docker image",
            "Renovate:  extract version of actionlint GH release",
            "Renovate:  incorrect regex for actionlint Docker image",
          ],
          "Removed": [
            ".github/CFF/chrono.yml",
            ".github/CFF/citation-file-format.yml",
            ".github/CFF/clap.yml",
            ".github/CFF/sysexits.yml",
            ".github/workflows/ci.yml:  obsolete ``name`` fields",
            ".github/workflows/comment-changes.yml:  obsolete ``name`` fields",
            ".github/workflows/mirror.yml:  obsolete ``name`` fields",
            "Renovate:  limit of created PRs per hour",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 1,
        patch: 1,
      ),
      released: "2023-09-19T17:47:00.124538678Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Fixed": [
            "CI:  update Rust version before publishing to crates.io",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 1,
        patch: 0,
      ),
      released: "2023-08-24T18:43:53.393584145Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            ".gitignore:  ignore artifacts by ``cargo mutants``",
            "CI:  ``cargo r -- complain ...``",
            "CI:  show current mutation count on PR",
            "Complain",
            "README:  document complain linter",
            "ReadFile:  recurse encountered directories",
            "complain",
            "src/complain.rs",
            "tests/complain.rs",
            "tests/traits.rs",
          ],
          "Fixed": [
            "CI:  submit just one PR comment (coverage)",
            "Renovate:  MSRV patterns",
            "remove obsolete call to ``vec!`` macro",
          ],
          "Removed": [
            "tests/append_as_line.rs",
            "tests/colour_message.rs",
            "tests/convert_buffer.rs",
            "tests/prefer.rs",
            "tests/rusty_object_notation.rs",
            "tests/to_stderr.rs",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 5,
      ),
      released: "2023-08-15T15:22:07.642600459Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CI:  automatically publish generated releases to crates.io",
            "CI:  automatically update CFF entry of chrono on certain pushes to main",
            "increment-version:  further test cases",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 4,
      ),
      released: "2023-08-01T18:12:43.054648338Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            ".github/workflows/rustfmt.yml",
            "CI:  automatically update CFF entry of sysexits-rs on certain pushes to main",
            "increment-version:  add dedicated mode for CITATION.cff files",
          ],
          "Changed": [
            "indent JSON5 files by 4 spaces",
            "indent Rust source files by 4 spaces",
          ],
          "Fixed": [
            "Renovate:  submit one bundled lock file maintenance per week",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 3,
      ),
      released: "2023-07-24T20:22:08.776717613Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CFF:  entry for ``clap`` v4.3.15",
            "CFF:  entry for ``clap`` v4.3.17",
            "CI:  automatically update CFF on pushes to main",
            "README:  Renovate badge",
            "README:  badge for latest GitHub release",
          ],
          "Changed": [
            "README:  make MSRV badge brightgreen",
            "README:  sort badges by category (GitHub, Rust)",
            "rename CFF assembly workflow to .github/workflows/cff.yml",
          ],
          "Fixed": [
            "reading from stdin now adds newlines where required",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 2,
      ),
      released: "2023-07-16T19:09:33.739326728Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CFF:  entry for ``clap`` v4.3.12",
            "comment-changes:  ``--force`` mode",
            "comment-changes:  make message harvesting into dedicated function",
          ],
          "Changed": [
            "Renovate:  disable automerge explicitly",
            "Renovate:  listen to renamed ``cffconvert`` repository",
            "comment-changes:  work on entire commit message instead of certain part",
          ],
          "Fixed": [
            "CI:  prevent failing on CFF update PR merge",
          ],
          "Removed": [
            "CFF:  automatically update Clap entry with Renovate",
            "CI:  ``cargo nextest r``",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 1,
      ),
      released: "2023-07-04T12:33:56.404949745Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            ".github/CFF/aeruginous.cff",
            ".github/CFF/chrono.yml",
            ".github/CFF/citation-file-format.yml",
            ".github/CFF/clap.yml",
            ".github/CFF/sysexits.yml",
            "CFF:  automatically update Clap entry with Renovate",
            "CI:  add release date update workflow for Clap CFF entry",
            "CI:  assemble main CFF from fragments",
            "FragmentExportFormat",
            "FromMd",
            "FromRst",
            "Renovate:  prefix ``[Renovate]`` for Dependency Dashboard",
            "Renovate:  track actionlint Docker image",
            "Renovate:  track cffconvert Docker image",
            "ToMd",
            "ToRst",
            "src/traits/markdown.rs",
            "src/traits/restructured_text.rs",
          ],
          "Changed": [
            "CommentChanges:  refactor logic",
            "Fragment:  apply new ToMd and ToRst traits",
            "call actionlint Docker image directly",
            "call cffconvert Docker image directly",
            "rename cffs/expectation.cff to cffs/expectation.yml",
            "rename tests/ron_traits.rs to tests/rusty_object_notation.rs",
          ],
          "Fixed": [
            "do not allow RONLOG assemblies in forks",
            "prevent release generation in forks",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 0,
      ),
      released: "2023-06-30T06:26:11.291071059Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CFF:  entry for ``clap`` v4.3.10",
            "CFF:  entry for ``clap`` v4.3.8",
            "CFF:  entry for ``clap`` v4.3.9",
            "CFF:  entry for ``sysexits`` v0.6.1",
            "CI:  linting step for Renovate configuration",
            "IncrementVersion",
            "ReadFile",
            "Renovate:  configuration",
            "ceprintlns",
            "dependency:  Rust crate ``cargo-lock``",
            "dependency:  Rust crate ``toml``",
            "documentation:  software licenses of ``cargo-lock`` crate",
            "documentation:  software licenses of ``toml`` crate",
            "increment-version:  special handling of Rust project files; fixes #390",
            "src/increment_version.rs",
            "src/traits/read_file.rs",
            "tests/increment_version.rs",
          ],
          "Changed": [
            "CI:  apply new increment-version features",
            "CI:  rename release level selector",
            "cffreference:  refactor logic",
          ],
          "Fixed": [
            "CI:  skip compilation on RONLOG assembly",
            "show previously hidden Clap aliases",
          ],
          "Removed": [
            ".github/workflows/cargo-update.yml",
            ".github/workflows/msrv.yml",
            "CI:  manual trigger for release workflow",
            "Dependabot:  configuration",
            "PatternReader",
            "src/pattern/reader.rs",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 2,
        minor: 2,
        patch: 2,
      ),
      released: "2023-06-21T23:44:36.263854103Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CI:  create release on RONLOG assembly",
            "CI:  settings for the automated release notes",
            "enum_trait",
            "tests/macros.rs",
          ],
          "Changed": [
            "comment-changes:  update README description",
            "move RonlogAction definition to RONLOG source file",
            "move RonlogSection definition to RONLOG source file",
            "src/version.rs:  apply new enum_trait macro",
          ],
          "Fixed": [
            "CI:  rename RONLOG assembly workflow job",
            "comment-changes:  create missing target directories",
          ],
          "Removed": [
            "Scriv:  configuration",
            "src/changelog/action.rs",
            "src/changelog/section.rs",
            "tests/getters.rs",
            "tests/implement.rs",
            "tests/ronlog_action.rs",
            "tests/version_range.rs",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 2,
        minor: 2,
        patch: 1,
      ),
      released: "2023-06-20T19:13:09.041861006Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CFF:  entry for ``clap`` v4.3.4",
            "CFF:  entry for ``clap`` v4.3.5",
            "CI:  real release workflow",
            "comment-changes:  stop at certain commit SHA; fixes #336",
          ],
          "Changed": [
            "CI:  mirror README from src/lib.rs during release workflow",
            "CI:  rename release preparation workflow to ``ronlog.yml``",
            "README:  enhance documentation of RONLOG mode",
          ],
          "Fixed": [
            "CI:  redundant test runs",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 2,
        minor: 2,
        patch: 0,
      ),
      released: "2023-06-12T17:20:37.365121131Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            ".version",
            "CFF:  entry for ``clap`` v4.3.2",
            "CFF:  entry for ``clap`` v4.3.3",
            "CFF:  project keyword ``cff-ref``",
            "CFF:  project keyword ``cff-rel``",
            "CFF:  project keyword ``cff-release-today``",
            "CFF:  project keyword ``cffrel``",
            "CFF:  project keyword ``cffreleasetoday``",
            "CFF:  project keyword ``inc-ver``",
            "CFF:  project keyword ``increment-version``",
            "CFF:  project keyword ``incrementversion``",
            "CFF:  project keyword ``incver``",
            "CFF:  project keyword ``ronlog``",
            "CHANGELOG.ron",
            "CI:  lint GitHub Action workflows",
            "README:  document cff-release-today",
            "README:  document increment-version",
            "VersionRange",
            "cff-release-today",
            "increment-version",
            "lints:  deny unreachable code",
            "src/traits/rusty_object_notation.rs",
            "tests/version_range.rs",
          ],
          "Changed": [
            "CI:  assemble RONLOG on release",
            "CI:  create RON fragments",
            "MSRV:  1.70.0",
            "``cargo update`` (#316)",
            "increment versions with Aeruginous",
            "move FromRon and ToRon to one source file",
            "move documentation of v0.0.0 to RONLOG",
          ],
          "Fixed": [
            "CI:  Bash style issues",
            "ToRon::to_ron:  missing trailing newline at the end",
          ],
          "Removed": [
            "CFF:  entries of outdated versions",
            "bump2version:  configuration",
            "src/traits/from_ron.rs",
            "src/traits/to_ron.rs",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 0,
        patch: 0,
      ),
      released: "2023-03-04T14:58:15Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            ".gitignore",
            "Cargo.toml",
            "LICENSE:  GPL-3.0",
            "README:  README.md",
            "repository creation",
            "src/main.rs",
          ],
        },
      ),
    ),
  ],
)
