(
  references: {
    "Keep a Changelog": "https://keepachangelog.com/en/1.0.0/",
  },
  introduction: Some("All notable changes to this project are documented in this file.\n\nThe format is based on `Keep a Changelog`_."),
  sections: [
    (
      references: {},
      version: (
        major: 2,
        minor: 1,
        patch: 1,
      ),
      released: "2023-06-09T19:53:24.466738035+00:00",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "``cargo update`` (#316)",
            "MSRV:  1.70.0",
            "move FromRon and ToRon to one source file",
            "CI:  assemble RONLOG on release",
            "CI:  create RON fragments",
          ],
          "Added": [
            "CI:  lint GitHub Action workflows",
            "CFF:  entry for ``clap`` v4.3.2",
            "src/traits/rusty_object_notation.rs",
            "CHANGELOG.ron",
          ],
          "Removed": [
            "src/traits/to_ron.rs",
            "src/traits/from_ron.rs",
          ],
          "Fixed": [
            "CI:  Bash style issues",
            "ToRon::to_ron:  missing trailing newline at the end",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 0,
        patch: 0,
      ),
      released: "2023-03-04T14:58:15+00:00",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Cargo.toml",
            ".gitignore",
            "LICENSE:  GPL-3.0",
            "README:  README.md",
            "repository creation",
            "src/main.rs",
          ],
        },
      ),
    ),
  ],
)
