(
  references: {
    "Keep a Changelog": "https://keepachangelog.com/en/1.0.0/",
  },
  introduction: Some("All notable changes to this project are documented in this file.\n\nThe format is based on `Keep a Changelog`_."),
  sections: [
    (
      references: {},
      version: (
        major: 3,
        minor: 1,
        patch: 1,
      ),
      released: "2023-09-09T17:25:59.771468916Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Fixed": [
            "CI:  update Rust version before publishing to crates.io",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 1,
        patch: 0,
      ),
      released: "2023-08-24T18:43:53.393584145Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Fixed": [
            "Renovate:  MSRV patterns",
            "remove obsolete call to ``vec!`` macro",
            "CI:  submit just one PR comment (coverage)",
          ],
          "Removed": [
            "tests/to_stderr.rs",
            "tests/rusty_object_notation.rs",
            "tests/prefer.rs",
            "tests/convert_buffer.rs",
            "tests/colour_message.rs",
            "tests/append_as_line.rs",
          ],
          "Added": [
            "tests/traits.rs",
            ".gitignore:  ignore artifacts by ``cargo mutants``",
            "README:  document complain linter",
            "ReadFile:  recurse encountered directories",
            "CI:  ``cargo r -- complain ...``",
            "tests/complain.rs",
            "src/complain.rs",
            "Complain",
            "complain",
            "CI:  show current mutation count on PR",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 5,
      ),
      released: "2023-08-15T15:22:07.642600459Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CI:  automatically publish generated releases to crates.io",
            "CI:  automatically update CFF entry of chrono on certain pushes to main",
            "increment-version:  further test cases",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 4,
      ),
      released: "2023-08-01T18:12:43.054648338Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "increment-version:  add dedicated mode for CITATION.cff files",
            ".github/workflows/rustfmt.yml",
            "CI:  automatically update CFF entry of sysexits-rs on certain pushes to main",
          ],
          "Changed": [
            "indent Rust source files by 4 spaces",
            "indent JSON5 files by 4 spaces",
          ],
          "Fixed": [
            "Renovate:  submit one bundled lock file maintenance per week",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 3,
      ),
      released: "2023-07-24T20:22:08.776717613Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CFF:  entry for ``clap`` v4.3.17",
            "README:  Renovate badge",
            "README:  badge for latest GitHub release",
            "CFF:  entry for ``clap`` v4.3.15",
            "CI:  automatically update CFF on pushes to main",
          ],
          "Changed": [
            "README:  sort badges by category (GitHub, Rust)",
            "README:  make MSRV badge brightgreen",
            "rename CFF assembly workflow to .github/workflows/cff.yml",
          ],
          "Fixed": [
            "reading from stdin now adds newlines where required",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 2,
      ),
      released: "2023-07-16T19:09:33.739326728Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Removed": [
            "CFF:  automatically update Clap entry with Renovate",
            "CI:  ``cargo nextest r``",
          ],
          "Changed": [
            "Renovate:  disable automerge explicitly",
            "Renovate:  listen to renamed ``cffconvert`` repository",
            "comment-changes:  work on entire commit message instead of certain part",
          ],
          "Added": [
            "comment-changes:  make message harvesting into dedicated function",
            "CFF:  entry for ``clap`` v4.3.12",
            "comment-changes:  ``--force`` mode",
          ],
          "Fixed": [
            "CI:  prevent failing on CFF update PR merge",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 1,
      ),
      released: "2023-07-04T12:33:56.404949745Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "CFF:  automatically update Clap entry with Renovate",
            "Renovate:  track actionlint Docker image",
            "CI:  add release date update workflow for Clap CFF entry",
            "CI:  assemble main CFF from fragments",
            ".github/CFF/citation-file-format.yml",
            ".github/CFF/sysexits.yml",
            ".github/CFF/chrono.yml",
            ".github/CFF/clap.yml",
            ".github/CFF/aeruginous.cff",
            "Renovate:  prefix ``[Renovate]`` for Dependency Dashboard",
            "ToRst",
            "FromRst",
            "src/traits/restructured_text.rs",
            "ToMd",
            "FromMd",
            "src/traits/markdown.rs",
            "Renovate:  track cffconvert Docker image",
            "FragmentExportFormat",
          ],
          "Changed": [
            "call actionlint Docker image directly",
            "rename cffs/expectation.cff to cffs/expectation.yml",
            "CommentChanges:  refactor logic",
            "Fragment:  apply new ToMd and ToRst traits",
            "call cffconvert Docker image directly",
            "rename tests/ron_traits.rs to tests/rusty_object_notation.rs",
          ],
          "Fixed": [
            "prevent release generation in forks",
            "do not allow RONLOG assemblies in forks",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 3,
        minor: 0,
        patch: 0,
      ),
      released: "2023-06-30T06:26:11.291071059Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "CI:  rename release level selector",
            "CI:  apply new increment-version features",
            "cffreference:  refactor logic",
          ],
          "Fixed": [
            "CI:  skip compilation on RONLOG assembly",
            "show previously hidden Clap aliases",
          ],
          "Added": [
            "CFF:  entry for ``clap`` v4.3.10",
            "Renovate:  configuration",
            "CI:  linting step for Renovate configuration",
            "ReadFile",
            "src/traits/read_file.rs",
            "CFF:  entry for ``clap`` v4.3.9",
            "CFF:  entry for ``clap`` v4.3.8",
            "tests/increment_version.rs",
            "IncrementVersion",
            "src/increment_version.rs",
            "documentation:  software licenses of ``toml`` crate",
            "documentation:  software licenses of ``cargo-lock`` crate",
            "increment-version:  special handling of Rust project files; fixes #390",
            "dependency:  Rust crate ``cargo-lock``",
            "dependency:  Rust crate ``toml``",
            "ceprintlns",
            "CFF:  entry for ``sysexits`` v0.6.1",
          ],
          "Removed": [
            "Dependabot:  configuration",
            ".github/workflows/cargo-update.yml",
            ".github/workflows/msrv.yml",
            "CI:  manual trigger for release workflow",
            "PatternReader",
            "src/pattern/reader.rs",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 2,
        minor: 2,
        patch: 2,
      ),
      released: "2023-06-21T23:44:36.263854103Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Removed": [
            "Scriv:  configuration",
            "src/changelog/section.rs",
            "src/changelog/action.rs",
            "tests/version_range.rs",
            "tests/ronlog_action.rs",
            "tests/getters.rs",
            "tests/implement.rs",
          ],
          "Changed": [
            "move RonlogSection definition to RONLOG source file",
            "move RonlogAction definition to RONLOG source file",
            "src/version.rs:  apply new enum_trait macro",
            "comment-changes:  update README description",
          ],
          "Fixed": [
            "CI:  rename RONLOG assembly workflow job",
            "comment-changes:  create missing target directories",
          ],
          "Added": [
            "CI:  create release on RONLOG assembly",
            "enum_trait",
            "tests/macros.rs",
            "CI:  settings for the automated release notes",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 2,
        minor: 2,
        patch: 1,
      ),
      released: "2023-06-20T19:13:09.041861006Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "CI:  rename release preparation workflow to ``ronlog.yml``",
            "README:  enhance documentation of RONLOG mode",
            "CI:  mirror README from src/lib.rs during release workflow",
          ],
          "Added": [
            "CFF:  entry for ``clap`` v4.3.4",
            "CI:  real release workflow",
            "comment-changes:  stop at certain commit SHA; fixes #336",
            "CFF:  entry for ``clap`` v4.3.5",
          ],
          "Fixed": [
            "CI:  redundant test runs",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 2,
        minor: 2,
        patch: 0,
      ),
      released: "2023-06-12T17:20:37.365121131Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Changed": [
            "``cargo update`` (#316)",
            "MSRV:  1.70.0",
            "increment versions with Aeruginous",
            "move documentation of v0.0.0 to RONLOG",
            "move FromRon and ToRon to one source file",
            "CI:  assemble RONLOG on release",
            "CI:  create RON fragments",
          ],
          "Added": [
            "CI:  lint GitHub Action workflows",
            "CFF:  project keyword ``ronlog``",
            "CFF:  project keyword ``inc-ver``",
            "CFF:  project keyword ``incver``",
            "CFF:  project keyword ``increment-version``",
            "CFF:  project keyword ``incrementversion``",
            "CFF:  project keyword ``cff-release-today``",
            "CFF:  project keyword ``cff-rel``",
            "CFF:  project keyword ``cff-ref``",
            "CFF:  project keyword ``cffreleasetoday``",
            "CFF:  project keyword ``cffrel``",
            "tests/version_range.rs",
            "CFF:  entry for ``clap`` v4.3.2",
            "CFF:  entry for ``clap`` v4.3.3",
            "README:  document increment-version",
            "README:  document cff-release-today",
            "cff-release-today",
            ".version",
            "increment-version",
            "lints:  deny unreachable code",
            "VersionRange",
            "src/traits/rusty_object_notation.rs",
            "CHANGELOG.ron",
          ],
          "Fixed": [
            "CI:  Bash style issues",
            "ToRon::to_ron:  missing trailing newline at the end",
          ],
          "Removed": [
            "CFF:  entries of outdated versions",
            "bump2version:  configuration",
            "src/traits/to_ron.rs",
            "src/traits/from_ron.rs",
          ],
        },
      ),
    ),
    (
      references: {},
      version: (
        major: 0,
        minor: 0,
        patch: 0,
      ),
      released: "2023-03-04T14:58:15Z",
      introduction: None,
      changes: (
        references: {},
        changes: {
          "Added": [
            "Cargo.toml",
            ".gitignore",
            "LICENSE:  GPL-3.0",
            "README:  README.md",
            "repository creation",
            "src/main.rs",
          ],
        },
      ),
    ),
  ],
)
