(
  references: {},
  changes: {
    "Fixed": [
      "Renovate:  extract version of actionlint GH release",
      "Renovate:  incorrect regex for actionlint Docker image",
    ],
    "Changed": [
      "Renovate:  sort regex packages by package name",
    ],
  },
)
