(
  references: {},
  changes: {
    "Added": [
      "curl-cffref/action.yml",
      "documentation:  software license of ``cargo-install`` GHA",
      "documentation:  software license of ``setup-git-user`` GHA",
    ],
    "Changed": [
      "CI:  CFF update workflow now applies curl-cffref Action",
      "CI:  simplify RONLOG assembly workflow",
    ],
    "Removed": [
      ".github/CFF/.github/CFF/chrono.yml",
      ".github/CFF/.github/CFF/citation-file-format.yml",
      ".github/CFF/.github/CFF/clap.yml",
      ".github/CFF/sysexits.yml",
    ],
  },
)
