(
  references: {},
  changes: {
    "Added": [
      "CFF:  project keyword ``ronlog``",
      "CFF:  project keyword ``inc-ver``",
      "CFF:  project keyword ``incver``",
      "CFF:  project keyword ``increment-version``",
      "CFF:  project keyword ``incrementversion``",
      "CFF:  project keyword ``cff-release-today``",
      "CFF:  project keyword ``cff-rel``",
      "CFF:  project keyword ``cff-ref``",
      "CFF:  project keyword ``cffreleasetoday``",
      "CFF:  project keyword ``cffrel``",
    ],
  },
)
