(
  references: {},
  changes: {
    "Added": [
      "README:  document increment-version",
      "README:  document cff-release-today",
      "cff-release-today",
      ".version",
      "increment-version",
      "lints:  deny unreachable code",
      "VersionRange",
    ],
    "Removed": [
      "bump2version:  configuration",
    ],
    "Changed": [
      "increment versions with Aeruginous",
      "move documentation of v0.0.0 to RONLOG",
    ],
  },
)
