(
  references: {},
  changes: {
    "Added": [
      "CI:  add feature-related Cargo checks to top-level CI job",
    ],
    "Fixed": [
      "improve coverage of src/changelog/fragment.rs",
    ],
  },
)
