(
  references: {},
  changes: {
    "Added": [
      "Cargo.toml:  keyword ``linter``; fixes #961",
      "Cargo.toml:  keyword ``toolbox``; fixes #960",
    ],
    "Fixed": [
      "cff-create:  unit tests",
    ],
    "Removed": [
      "Cargo.toml:  keyword ``rs2md``; fixes #963",
      "Cargo.toml:  keyword ``uncrlf``; fixes #962",
    ],
  },
)
