(
  references: {},
  changes: {
    "Added": [
      "increment-version:  CFF mode now also updates the release date",
    ],
    "Changed": [
      "CI:  simplify RONLOG assembly workflow",
    ],
    "Fixed": [
      "increment-version:  treat all files with ``*.cff`` extension as CITATION.cff files",
    ],
  },
)
