(
  references: {},
  changes: {
    "Changed": [
      "README:  sort badges by category (GitHub, Rust)",
      "README:  make MSRV badge brightgreen",
    ],
    "Added": [
      "README:  Renovate badge",
      "README:  badge for latest GitHub release",
    ],
  },
)
