(
  references: {},
  changes: {
    "Added": [
      "FromXml",
      "ToXml",
      "comment-changes:  allow for XML fragments",
      "dependency:  Rust crate ``quick-xml``",
      "documentation:  software license of ``quick-xml`` crate",
      "ronlog:  accept XML fragments for input",
      "src/traits/file_formats.rs",
      "test case for ``FromXml`` and ``ToXml``",
    ],
    "Removed": [
      "src/traits/markdown.rs",
      "src/traits/restructured_text.rs",
      "src/traits/rusty_object_notation.rs",
    ],
  },
)
