(
  references: {},
  changes: {
    "Removed": [
      ".github/workflows/mirror.yml:  obsolete ``name`` fields",
      ".github/workflows/comment-changes.yml:  obsolete ``name`` fields",
      ".github/workflows/ci.yml:  obsolete ``name`` fields",
    ],
  },
)
