(
  references: {},
  changes: {
    "Added": [
      "IncrementVersion",
      "src/increment_version.rs",
      "documentation:  software licenses of ``toml`` crate",
      "documentation:  software licenses of ``cargo-lock`` crate",
      "increment-version:  special handling of Rust project files; fixes #390",
      "dependency:  Rust crate ``cargo-lock``",
      "dependency:  Rust crate ``toml``",
    ],
  },
)
