(
  references: {},
  changes: {
    "Added": [
      "Just:  export generated SVG logo as PNG",
      "aeruginous.png",
    ],
    "Changed": [
      "CI:  enable PNG export of SVG logo",
    ],
  },
)
