(
  references: {},
  changes: {
    "Added": [
      "CHANGELOG:  migrate v0.1.0 to RONLOG",
      "CHANGELOG:  migrate v0.2.0 to RONLOG",
      "CHANGELOG:  migrate v0.2.1 to RONLOG",
      "CHANGELOG:  migrate v1.0.0 to RONLOG",
      "CHANGELOG:  migrate v1.1.0 to RONLOG",
      "CHANGELOG:  migrate v1.1.1 to RONLOG",
      "CHANGELOG:  migrate v1.1.2 to RONLOG",
      "CHANGELOG:  migrate v2.0.0 to RONLOG",
      "CHANGELOG:  migrate v2.1.0 to RONLOG",
    ],
    "Removed": [
      "CHANGELOG.rst",
    ],
  },
)
