(
  references: {},
  changes: {
    "Added": [
      "Cargo.toml:  declare new feature ``cff``",
      "Cargo.toml:  declare new feature ``rs2md``",
      "Cargo.toml:  declare new feature ``utilities``",
      "Mkcws",
    ],
    "Changed": [
      "Cargo.toml:  set default features to ``cff`` and ``utilities``",
      "mkcws:  outsource logic to dedicated struct",
    ],
  },
)
