(
  references: {},
  changes: {
    "Added": [
      ".github/aeruginous.asy",
      "CI:  recreate logo on demand",
      "Just:  recipe for logo generation",
      "apply new logo in documentation",
      "complain:  ask for inline mercy for rule ÆC-0003",
    ],
  },
)
