(
  references: {},
  changes: {
    "Added": [
      "comment-changes:  option ``-@``",
    ],
    "Deprecated": [
      "comment-changes:  option ``-S``",
      "comment-changes:  option ``-T``",
    ],
  },
)
