######################## GNU General Public License 3.0 ########################
##                                                                            ##
## Copyright (C) 2023 Kevin Matthes                                           ##
##                                                                            ##
## This program is free software: you can redistribute it and/or modify       ##
## it under the terms of the GNU General Public License as published by       ##
## the Free Software Foundation, either version 3 of the License, or          ##
## (at your option) any later version.                                        ##
##                                                                            ##
## This program is distributed in the hope that it will be useful,            ##
## but WITHOUT ANY WARRANTY; without even the implied warranty of             ##
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the              ##
## GNU General Public License for more details.                               ##
##                                                                            ##
## You should have received a copy of the GNU General Public License          ##
## along with this program.  If not, see <https://www.gnu.org/licenses/>.     ##
##                                                                            ##
################################################################################

################################################################################
##
##  AUTHOR      Kevin Matthes
##  BRIEF       The CI of this project.
##  COPYRIGHT   GPL-3.0
##  DATE        2023
##  FILE        ci.yml
##  NOTE        See `LICENSE' for full license.
##              See `README.md' for project details.
##
################################################################################

name: ci

on:
  pull_request:
  push:

permissions:
  contents: read

jobs:
  bors:
    name: bors
    needs:
      - cffconvert
      - check
      - clippy
      - test
    runs-on: ubuntu-latest
    steps:
      - name: success
        run: bash -c 'exit 0'

  cffconvert:
    name: cffconvert
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3.5.0
        with:
          persist-credentials: false

      - name: cffconvert
        uses: citation-file-format/cffconvert-github-action@2.0.0
        with:
          args: --validate

  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: rustup
        run: rustup update

      - name: checkout
        uses: actions/checkout@v3.5.0
        with:
          persist-credentials: false

      - name: cargo
        run: cargo c

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - name: rustup
        run: rustup update

      - name: checkout
        uses: actions/checkout@v3.5.0
        with:
          persist-credentials: false

      - name: cargo
        run: cargo clippy

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: rustup
        run: rustup update

      - name: checkout
        uses: actions/checkout@v3.5.0
        with:
          persist-credentials: false

      - name: cargo
        run: cargo t

################################################################################
