######################## GNU General Public License 3.0 ########################
##                                                                            ##
## Copyright (C) 2023 Kevin Matthes                                           ##
##                                                                            ##
## This program is free software: you can redistribute it and/or modify       ##
## it under the terms of the GNU General Public License as published by       ##
## the Free Software Foundation, either version 3 of the License, or          ##
## (at your option) any later version.                                        ##
##                                                                            ##
## This program is distributed in the hope that it will be useful,            ##
## but WITHOUT ANY WARRANTY; without even the implied warranty of             ##
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the              ##
## GNU General Public License for more details.                               ##
##                                                                            ##
## You should have received a copy of the GNU General Public License          ##
## along with this program.  If not, see <https://www.gnu.org/licenses/>.     ##
##                                                                            ##
################################################################################

################################################################################
##
##  AUTHOR      Kevin Matthes
##  BRIEF       The CI of this project.
##  COPYRIGHT   GPL-3.0
##  DATE        2023
##  FILE        ci.yml
##  NOTE        See `LICENSE' for full license.
##              See `README.md' for project details.
##
################################################################################

name: ci

on:
  pull_request:
  push:

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.3
        with:
          persist-credentials: false

      - uses: docker://rhysd/actionlint:1.6.27
        with:
          args: -color

  bors:
    needs:
      - actionlint
      - cargo
      - cffconvert
      - renovate-linter
    runs-on: ubuntu-latest
    steps:
      - run: bash -c 'exit 0'

  cargo:
    needs:
      - cargo-features
      - cargo-general
    runs-on: ubuntu-latest
    steps:
      - run: bash -c 'exit 0'

  cargo-features:
    runs-on: ubuntu-latest
    steps:
      - run: rustup update

      - uses: actions/checkout@v4.1.3
        with:
          fetch-depth: 0
          persist-credentials: false

      - run: cargo ${{ matrix.subcommand }} ${{ matrix.feature }}
    strategy:
      matrix:
        feature:
          - ;
          - --all-features
          - --no-default-features
          - --no-default-features -F cff
          - --no-default-features -F cff-create
          - --no-default-features -F mkcws
          - --no-default-features -F rs2md
          - --no-default-features -F uncrlf
          - --no-default-features -F utilities
        subcommand:
          - b
          - c
          - clippy
          - d
          - t

  cargo-general:
    runs-on: ubuntu-latest
    steps:
      - run: rustup update

      - uses: actions/checkout@v4.1.3
        with:
          persist-credentials: false

      - run: cargo ${{ matrix.subcommand }}
    strategy:
      matrix:
        subcommand:
          - fmt --check
          - r -- complain .github/ src/ tests/

  cffconvert:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.3
        with:
          persist-credentials: false

      - uses: docker://citationcff/cffconvert:2.0.0
        with:
          args: --validate -i ${{ matrix.cff }}
    strategy:
      matrix:
        cff:
          - .github/aeruginous.cff
          - CITATION.cff
          - tests/assets/CITATION.cff/input_1.cff
          - tests/assets/CITATION.cff/input_2.cff
          - tests/assets/CITATION.cff/input_3.cff
          - tests/assets/CITATION.cff/input_4.cff
          - tests/assets/CITATION.cff/input_5.cff
          - tests/assets/CITATION.cff/input_6.cff
          - tests/assets/CITATION.cff/input_7.cff

  renovate-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.3
        with:
          persist-credentials: false

      - run: |
          npx -p renovate \
              -c 'renovate-config-validator .renovaterc.json5 --strict' \
              -y

################################################################################
